body {
    margin: 0;
    /* background-color: #1E4D87; */
    background-color: #1E4D87;
}
.navBar {
    background-color: #6487B2;
    height: 100px;
    width: 100%;
    position: fixed;
}
.menuBurger {
    height: 60px;
    width: 60px;
    position: absolute;
    background-color: #6487B2;
    top: 20px;
    left: 15px;
}
.ligneBurger {
    height: 5px;
    width: 40px;
    background-color: white;
    position: relative;
    border-radius: 10%;
}
form{
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 20px;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #1E4D87;
    color: white;
}
.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: #6487B2;
    height: 230px;
    width: 230px;
    position: relative;
    top: 10px;
}
.logo {
    position: absolute;
    height: 100%;
    width: 160%;
}
.account {
    height: 55px;
    width: 55px;
    position: relative;
    background-color: #1E4D87;
    border-radius: 50%;
    top: 10px;
    right: 30px;
    top: 20px;
}
.fas {
    font-size: 45px;
}
.topRandom {
    position: absolute;
    height:50%;
    width: 70%;
    top: 40%;
    left: 15%;
}


/* classes communes */

.flex {
    display: flex ;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.alignCenter {
    align-items: center;
}
.justifyStart {
    justify-content: flex-start;
}
.justifyCenter {
    justify-content: center;
}
.justifyAround {
    justify-content: space-around;
}
.flexColumn {
    flex-direction: column;
}
.flexRow {
    flex-direction: row;
}
.spaceBetween {
    justify-content: space-between;
}
.centerCenter {
    align-items: center;
    justify-content: center;
}
.vertical {
    flex-direction: column;
}



/* bleu foncé : 1E4D87
bleu clair : 6487B2 */