html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1E4D87;
    margin: 0;
    padding: 0;
}

.details {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 20px;
}

.numPlayers {
    padding: 5px;
    background-color: #303742;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
    font-size: 1.5em;
    color: white;
}

.iconPlayers {
    padding: 5px;
}

.textPlayers {
    padding: 5px;
}

.gameTime {
    padding: 5px;
    background-color: #303742;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
    font-size: 1.5em;
    color: white;
}

.iconGameTime {
    padding: 5px;
}

.textTime {
    padding: 5px;
}

.age {
    padding: 5px;
    background-color: #303742;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
    font-size: 1.5em;
    color: white;
}

.iconAge {
    padding: 5px;
}

.textAge {
    padding: 5px;
}